* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: poppinsregular;
    background-color: rgb(27, 29, 31);
   
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;  
}

.background-image-fixed {
     
    background-image: url("/imagens/Blue\ Minimalist\ Linktree\ Background.png");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid white;
}


header ul {
    margin-left: 30%;
}

.logo {
    margin-left: 10%;
}

h1{
    color: white;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: larger;
}

a:hover {
    transition: 40ms all;
    border-bottom: 3px solid rgba(227, 231, 8, 0.897);
}


.dropdown-btn {
    display: inline-block;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 2px solid #ffffff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: #FF914D;

}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    font-size: 14px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #FFF;
    right: 99px;
    transform: translateX(0%);
    margin-top: 6px;


}


.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #38B6FF;
    transition: 0.5s all;
    border-radius: 15px;
}


.dropdown-content a:hover {
    color: #FF914D;
    background-color: #526D82;
}


.dropdown-btn:hover .dropdown-content {
    display: block;
}




.formulario-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input,
select,
textarea {
    outline: none;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}