h1 {
    font-weight: 200;
   
 }
 
 h2 {
    font-size: 36px;
    font-family: poppinsmedium;
    color: #fff;
 }
 
 span {
    color: #fff;
 }
 
 
 p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    color: #fff;
    margin: 0;
 
 }
 
 form {
  
    display: flex;
    flex-direction: column;
    width: 70%;
    
    
 }



 .Entrar {
    height: 40px;
    width: 60%;
    align-items: center;
    background-color: #1489d1;
    color: black;
    font-size:medium;
    cursor: pointer;
    border-radius: 20px;
    border: none;
 }


 .Entrar:hover{
    transition: 0.5s all;
    background-color: #FF914D;
    color: white;
 }
 
 
 
 input {
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
    min-width: 200px;
    
 }

 
 main {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 75%;
    margin: 0 20px;
 }
