h1 {
    font-weight: 200;
   
 }
 
 h2 {
    font-size: 36px;
    font-family: poppinsmedium;
    color: #fff;
 }
 
 span {
    color: #fff;
 }
 
 
 p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    color: #fff;
    margin: 0;
 
 }
 
 form {
  
    display: flex;
    flex-direction: column;
    width: 70%;
    
    
 }


 .Entrar {
   height: 30px;
    width: 100%;
    background-color: rgb(150, 110, 36);
    color: #DDE6ED;
    font-size:medium;
    cursor: pointer;
    border-radius: 20px;
 }


 .Entrar:hover{
    transition: 0.3s all;
    color: #1c547e;
 }
 
 
 
 input {
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
    min-width: 200px;
    
 }
 
 aside {
    min-width: 300px;
    min-height: 300px;
    align-items: center;
    margin-right: 100px;
    margin-top: 40px;
 }
 
 main {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 75%;
    margin: 0 20px;
 }
