body {
    font-family: poppinsregular;
    justify-content: space-between;
    align-items: center;
    background-color: #526D82;
   
}

.background-image-fixed {
     
    background: rgba(0, 0, 0, 0.5);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    position: relative;
    

}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #fff;
}


header ul {
    margin-left: 30%;
}

.logo {
    margin-left: 10%;
}



li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #38B6FF;
    text-decoration: none;
}

a:hover {
    color: #FF914D;
    transition: 40ms all;
    border-bottom: 3px solid rgba(227, 231, 8, 0.897);
}

/* Estilo do botão */
.dropdown-btn {
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 2px solid #FF914D;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: #FF914D;

}

/* Estilo do conteúdo do menu (inicialmente oculto) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #FFF;
    left: 86.5%;
    transform: translateX(0%);
    margin-top: 6px;


}

/* Estilo dos itens do menu */
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #38B6FF;
    transition: 0.5s all;
    border-radius: 15px;
}

/* Mudar a cor do item do menu ao passar o mouse sobre ele */
.dropdown-content a:hover {
    color: #FF914D;
    background-color: #526D82;
}

/* Mostrar o menu quando o botão é clicado */
.dropdown-btn:hover .dropdown-content {
    display: block;
}


h1 {
    font-weight: 200;
}

.container {
    max-width: 1200px;
    height: 80vh;
    display: flex;

}

.form-image {
    max-width: 1200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    padding: 4rem;
    margin-left: 10%;
    margin-top: 1%;
}

.form-image img {
    width: 30rem;
}

.form {
    max-width: 100%;
    max-height: 65%;
    align-items: left;
    background-color: #DDE6ED;
    padding: 1rem;
    margin-top: 1%;
}

.form-header {

    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
}


.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0;
    margin-top: -3%;



}

.input-box {

    display: flex;
    flex-direction: column;
    margin: 0.4rem 0rem;


}


.input-box input {
    margin: 5px;
    padding: 0.1rem 0.1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #0000001c;
    font-size: 0.9rem;
    margin-top: 0.5%;
    align-items: left;
}

.input-box input:hover {
    background-color: #615b5b75;
}

.input-box input:focus-visible {
    outline: 1px solid #526D82;
}

.input-box label,
.gender-title h6 {
    font-size: 0.8rem;
    font-weight: 600;
    color: #0a0a0ac0;
}

.input-box input::placeholder {
    color: #080808be;

}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;

}

.gender-input input {
    margin-right: 0.35rem;


}

.gender-input label {
    font-size: 0.79rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: #9DB2BF;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #27374D;
}

.continue-button button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fdf5f5;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-title h6 {
        margin: 0;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}