body {
   background-color: #27374D;
   font-family: poppinsregular;
   margin: 0;
   padding: 0px;
   height: 100vh;



}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   border-bottom: 2px solid #526D82;

}



li {
   display: inline-block;
   margin: 20px;
}

a {
   color: #DDE6ED;
   text-decoration: none;
}

a:hover {
   color: #fff;
   transition: 0.3s all;
}


/* Estilo do botão */
.dropdown-btn {
   display: inline-block;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border: 2px solid #DDE6ED;
   padding: 5px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 20px;
   color: #DDE6ED;
   
}

/* Estilo do conteúdo do menu (inicialmente oculto) */
.dropdown-content {
   display: none;
   position: absolute;
   min-width: 100px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   color: #FFF;
   left: 76%;
   transform: translateX(0%);
   margin-top: 6px;


}

/* Estilo dos itens do menu */
.dropdown-content a {
   padding: 12px 16px;
   display: block;
   text-decoration: none;
   color: #fff;
   transition: 0.5s all;
   border-radius: 15px;
}

/* Mudar a cor do item do menu ao passar o mouse sobre ele */
.dropdown-content a:hover {
   background-color: #526D82;
}

/* Mostrar o menu quando o botão é clicado */
.dropdown-btn:hover .dropdown-content {
   display: block;
}




div {
   color: #FFF;

}


h1 {
   font-weight: 200;


}

main {
   display: flex;
   flex-direction: row;
   margin-top: 50px;
   margin-left: 50px;

}

h2 {
   font-size: 36px;
   line-height: 10px;
   font-family: poppinsmedium;
   color: #fff;
}

span {
   color: #fff;
}

p {
   line-height: 20px;
   max-width: 500px;
   font-family: poppinslight;
   color: #fff;

}

form {
   display: flex;
   flex-direction: column;
   width: 70%;
}

form [type="submit"] {
   height: 50px;
   width: 30%;
   background-color: #526D82;
   color: #DDE6ED;
   font-size: bold;

}

form [type="submit"]:hover {
   cursor: pointer;
   transition: 0.3s all;
   color: #fff;
}


input {
   margin-top: 20px;
   height: 20px;
   padding: 15px;
   border-radius: 20px;
   border: none;
   font-size: 15px;
}





/* Estilos para telas de 768px ou mais */
@media screen and (min-width: 768px) {
   main {
      flex-direction: row;
   }

   form {
      width: 50%;
   }

   .container {
      display: flex;
      flex-direction: row;
      margin-left: 200px;
      margin-top: 50px;
   }

   .pitch {
      margin-left: 20px;
   }
}

/* Estilos para telas de 1024px ou mais */
@media screen and (min-width: 1024px) {
   header {
      flex-direction: row;
      justify-content: space-around;
   }

   .redesSocias {
      text-align: center;
   }

   .redesSocias ul {
      list-style: none;
      padding: 0%;
      margin-top: 30px;
   }

   .redesSocias li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 20px;
   }

   .redesSocias li:last-child {
      margin-right: 0;
   }

   .redesSocias a {
      text-decoration: none;
      color: #DDE6ED;
      margin-left: 0;
      text-decoration: none;
   }

   .redesSocias a:hover {
      text-decoration: none;
      color: #fff;
      transition: 0.3s all;
      cursor: pointer;
   }

   .container {
      display: flex;
      margin-right: 25px;
      margin-top: 50px;
   }

   .pitch {
      margin-left: auto;
   }
}