body {
    font-family: poppinsregular;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 29, 31);
    margin: 0px 0px 50px 0px;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid white;
    
}



header ul {
    margin-left: 30%;
}

.logo {
    margin-left: 10%;
}



li {
    display: inline-block;
    margin: 20px;

}

a {
    color: #38B6FF;
    text-decoration: none;
}

a:hover {
    color: #FF914D;
    transition: 40ms all;
    border-bottom: 3px solid rgba(227, 231, 8, 0.897);
}

/* Estilo do botão */
.dropdown-btn {
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 2px solid #FF914D;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: #FF914D;

}

/* Estilo do conteúdo do menu (inicialmente oculto) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #FFF;
    left: 86.5%;
    transform: translateX(0%);
    margin-top: 6px;


}

/* Estilo dos itens do menu */
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #38B6FF;
    transition: 0.5s all;
    border-radius: 15px;
}

/* Mudar a cor do item do menu ao passar o mouse sobre ele */
.dropdown-content a:hover {
    color: #FF914D;
    background-color: #526D82;
}

/* Mostrar o menu quando o botão é clicado */
.dropdown-btn:hover .dropdown-content {
    display: block;
}


h1 {
    font-size: larger;
    background-color: orange;
    width: 1000px;
    border-radius: 10px;
}

h2{
    margin: 10px;
    margin-top: 0;
    color: white;
}

.sessao-header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f1eaea;
}


.sessao-header h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 2%;
    justify-items: center;
}

.mensagem {
    color: #f1eaea;
    text-align: center;
    font-size: 20px;
}


.conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 110px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.conhecimento{
    display: flex;
    margin-top: 30px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    border-radius: 10px;
    height: 500px;
}

#corMissao{
    background-color: #d47f39;
}
#corObjetivo{
    background-color: #8bad11c4;
}
#corComoFaz{
    background-color: #c14bd3b4;
}
#corEco{
    background-color: #ae3621;
}
#corTrabalhe{
    background-color: #059e4a;
}
#corQualidade{
    background-color: #7d11a1;
}

.imagem{
    max-width: 40%;
    
}
.imagem1{
    max-width: 60%;
}

.conhecimento-text p {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 15px;
    text-align: justify;
}

.conhecimento-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 42%;
    height: 50%;
    width: 15%;
}


.conhecimento-img-wrapper img {
    object-fit: cover;
    width: 90%;
    padding-left: 50px;
}
/* fim sobre */

@media screen and (max-width: 700px) {
    section{
        justify-items: column; 
    }
}