body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Ajuste o último valor (0.5) para controlar a opacidade do overlay */
    z-index: -1; /* Coloca o overlay atrás do conteúdo da página */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2; /* Coloca a imagem de fundo atrás do overlay */
    background-image: url("../components/images/alunos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (max-width: 767px) {
     html { 
        background-color: #27374D;
    }
}