body {
   background-color: #27374D;
   font-family: poppinsregular;
   margin: 0;
   padding: 10px;
   height: 100vh;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   border-bottom: 2px solid #526D82;
}


li {
   display: inline-block;
   margin: 20px;
}

a {
   color: #DDE6ED;
   text-decoration: none;
}

a:hover {
   color: #DDE6ED;
   transition: 0.3s all;
}

#inscreva-se-btn {
   border: 2px solid #DDE6ED;
   padding: 5px;
   border-radius: 20px;
}

#inscreva-se-btn:hover {
   background-color: #526D82;
   color: #FFF;
}


div{
   color: #FFF;
   
}

