* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
 
 
 }
 
 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
 }
 
 #title{
    flex-direction: column;
    line-height: 10px;
 }
 
 li {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
 
 }
 
 a {
    color: white
 }
 
 a:hover{
    color: #301efe;
    transition: 0.3s all;
 }
 
 #inscreva-se-btn {
    border: 2px solid #301efe;
    padding: 5px;
    border-radius: 20px;
 }
 
 #inscreva-se-btn:hover {
    background-color: #301efe;
    color: white;
 }
body *{
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-login > h1 {
    font-size: 3vw;
    color: aliceblue;
}

.esquerda-login-imagem{
    width: 35vw;
}

.direita-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(40, 40, 40);
    border-radius: 15px;
    box-shadow: 0px 10px 40px #000000;
}

.card-login > h1 {
    color: aliceblue;
    font-weight: 800;
    margin: 0;
}

.campo-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.campo-texto > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(104, 159, 241); /*cor da caixa de texto*/
    color: aliceblue;
    box-shadow: 0px 10px 20px #000000;
    outline: none;
    box-sizing: border-box;
}

.campo-texto > label{
    color: aliceblue;
    margin-bottom: 10px;

}

.campo-texto > input::placeholder{
    color: rgb(10, 10, 9);
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgb(34, 34, 34);
    background: rgb(77, 175, 162);
    cursor: pointer;
    box-shadow: 0px 10px 20px -12px rgb(28, 230, 28);
}


.btn-voltar-pagi {
    width: 100%;
    width: 10vw;
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    background: rgb(77, 175, 162);
    box-shadow: 0px 5px 20px;
    cursor: pointer;
      
 }
 
 .btn-voltar-pagi:hover{
    background-color: #26555c;
   color: rgb(21, 23, 24);
 }


 img{
    width: 60%;
    display: flex;
    justify-content: left;

}

/*media ajuda na responsividade da página*/

@media only screen and (max-width: 760px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 760px){
    .main-login{
        flex-direction: flex;
    }

    .esquerda-login > h1{
        display: none;
    }

    .esquerda-login{
        width: 100%;
        height: auto;
    }

    .direita-login{
        width: 100%;
        height: auto;
    }

    .esquerda-login-imagem{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}