* {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}


body {
   background-color: rgb(34, 34, 34);
   color: aliceblue;
   max-width: 1200px;
   margin: 0 auto;
   padding: 15px;
   font-family: poppinsregular;


}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#title {
   flex-direction: column;
   line-height: 10px;
}

li {
   display: inline-block;
   margin: 20px;

}

a {
   color: rgb(233, 227, 227)
}

a:hover {
   color: #301efe;
   transition: 0.3s all;
}

#inscreva-se-btn {
    border: 2px solid #301efe;
    padding: 5px;
    border-radius: 20px;
 }
 
 #inscreva-se-btn:hover {
    background-color: #301efe;
    color: white;
 }


h1 {
   font-weight: 200;


}



.container {
   max-width: 1200px;
   height: 80vh;
   display: flex;
   box-shadow: 5px 5px 10px rgba(8, 0, 0, 0.212);
}

.form-image {
   max-width: 1200%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #3073f0d7;
   padding: 4rem;
}

.form-image img {
   width: 34rem;
}

.form {
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   background-color: white;
   padding: 1rem;
}

.form-header {

   margin-bottom: 0rem;
   display: flex;
   justify-content: space-between;
}


.input-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0.1rem 0;



}

.input-box {
   
   display: flex;
   flex-direction: column;
   margin: 0.4rem 0rem;
  

}


.input-box input {
   margin: 1rem ;
   padding: 0.2rem 1rem;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 6px #0000001c;
   font-size: 0.9rem ;

}

   .input-box input:hover {
       background-color: #615b5b75;
   }

   .input-box input:focus-visible {
       outline: 1px solid #6c63ff;
   }

   .input-box label,
   .gender-title h6 {
       font-size: 0.8rem;
       font-weight: 600;
       color: #000000c0;
   }

   .input-box input::placeholder {
       color: #000000be;
    
   }

   .gender-group {
       display: flex;
       justify-content: space-between;
       margin-top: 0.62rem;
       padding: 0 .5rem;
   }

   .gender-input {
       display: flex;
       align-items: center;
   }

   .gender-input input {
       margin-right: 0.35rem;
       
   }

   .gender-input label {
       font-size: 0.79rem;
       font-weight: 600;
       color: #000000c0;
   }

   .continue-button button {
       width: 100%;
       margin-top: 1rem;
       border: none;
       background-color: #000000;
       padding: 0.62rem;
       border-radius: 5px;
       cursor: pointer;
   }

   .continue-button button:hover {
       background-color: #1d14d4f1;
   }

   .continue-button button a {
       text-decoration: none;
       font-size: 1rem;
       font-weight: 500;
       color: #fdf5f5;
   }

   @media screen and (max-width: 1330px) {
       .form-image {
           display: none;
       }

       .container {
           width: 50%;
       }

       .form {
           width: 100%;
       }
   }

   @media screen and (max-width: 1064px) {
       .container {
           width: 90%;
           height: auto;
       }

       .input-group {
           flex-direction: column;
           z-index: 5;
           padding-right: 5rem;
           max-height: 10rem;
           overflow-y: scroll;
           flex-wrap: nowrap;
       }

       .gender-inputs {
           margin-top: 2rem;
       }

       .gender-group {
           flex-direction: column;
       }

       .gender-title h6 {
           margin: 0;
       }

       .gender-input {
           margin-top: 0.5rem;
       }
   }