body {
   background-color: rgb(34, 34, 34);
   color: aliceblue;
   font-family: poppinsregular;
   max-width: 1200px;
   margin: 0 auto;
   padding: 15px;


}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#title{
   flex-direction: column;
   line-height: 10px;
}

li {
   display: inline-block;
   margin: 20px;

}

a {
   color: white;
   text-decoration: none;
}

a:hover{
   color: #301efe;
   transition: 0.3s all;
}

#inscreva-se-btn {
   border: 2px solid #301efe;
   padding: 5px;
   border-radius: 20px;
}

#inscreva-se-btn:hover {
   background-color: #301efe;
   color: white;
}


h1 {
   font-weight: 200;


}

main {
   display: flex;
   flex-direction: row;
   margin-top: 50px;
}

h2 {
   font-size: 36px;
   line-height: 10px;
   font-family: poppinsmedium;
}

span {
   color: #301efe;
}

p {
   line-height: 20px;
   max-width: 500px;
   font-family: poppinslight;
}

form {
   display: flex;
   flex-direction: column;
   width: 70%;
}

form [type="submit"] {
   height: 50px;
   width: 30%;
   background-color: #301efe;
   color: white;
   font-size: bold;
}

form [type="submit"]:hover {
   cursor: pointer;
}
   

input {
   margin-top: 20px;
   height: 20px;
   padding: 15px;
   border-radius: 20px;
   border: none;
   font-size: 15px;
}



#teste{
   
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   
}

#logo_sobre{
   width: 50%;

}

#frase{
   text-align: center;  
}

#imagem_animada{
   width: 40%;
   height: 20%;
   display: flex;
   align-items: center;
   justify-items: center;
}
